@charset "UTF-8";

h1 {
	color: brown;
	
	}

input[type=text]:focus {
  border: 3px solid #555;
}


input[type=password]:focus {
  border: 3px solid #555;
}
input[type=number]:focus {
  border: 3px solid #555;
}